<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.minor.major1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcher_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.minor.major1.SymptomsActivity"/>
        <activity android:name="com.minor.major1.AboutCoronaActivity" />
        <activity android:name="com.minor.major1.AboutAppActivity" />
        <activity android:name="com.minor.major1.DistWiseDetailsActivity" />
        <activity android:name="com.minor.major1.StateListActivity" />
        <activity android:name="com.minor.major1.StateWiseDetailsActivity" />
        <activity android:name="com.minor.major1.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name="com.minor.major1.MainActivity" />
    </application>

</manifest>